<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="text-primary">
                <h4>Standard questions list</h4>
            </div>
            <p-table #dt id="dataTable" dataKey="id" [rowHover]="true" [value]="standardQuestions"
                     [tableStyle]="{ 'min-width': '50rem' }"
                     styleClass="p-datatable-sm"
                     [globalFilterFields]="['text', 'required']"
                     [totalRecords]="standardQuestions.length"
                     [filterDelay]="0"
                     [reorderableColumns]="true"
                     [columns]="tableColumns"
                     [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
                     responsiveLayout="scroll"
                     [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                     stateStorage="local">

                <ng-template pTemplate="caption">
                    <div class="flex align-items-center justify-content-between flex-wrap">
                        <div class="mb-2 mr-2">
                            <span class="p-input-icon-left ml-auto">
                                <i class="pi pi-search"></i>
                                <input #globalTableSearch
                                       pInputText type="text"
                                       placeholder="Search keyword"
                                       pTooltip="Searches for users"
                                       tooltipPosition="top" class="p-inputtext-sm"/>
                            </span>
                            <button pButton
                                    pRipple
                                    label="Clear"
                                    class="p-button-outlined ml-2 p-button-sm"
                                    icon="pi pi-filter-slash"
                                    pTooltip="Clear all columns filters"
                                    tooltipPosition="top"
                                    type="button">
                            </button>
                        </div>
                    </div>
                </ng-template>

                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
                            <th *ngSwitchCase="'groupRolesNames'" pReorderableColumn>
                                {{ col.header }}
                            </th>
                            <th *ngSwitchCase="'isActive'" class="w-6rem" pReorderableColumn>
                                {{ col.header }}
                            </th>
                            <th *ngSwitchDefault [pSortableColumn]="col.field" pReorderableColumn>
                                {{ col.header }}
                                <p-sortIcon [field]="col.field"></p-sortIcon>
                            </th>
                        </ng-container>
                        <th class="min-width-100">Actions</th>
                    </tr>
                    <tr>
                        <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
                            <th *ngSwitchDefault>
                                <p-columnFilter [field]="col.field" type="text" class="p-inputtext-sm"></p-columnFilter>
                            </th>
                        </ng-container>
                        <th class="min-width-100"></th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-user let-columns="columns">
                    <tr class="p-selectable-row">
                        <ng-container *ngFor="let col of columns" [ngSwitch]="col.field">
                            <td *ngSwitchCase="'groupRolesNames'">
                                <span class="p-column-title">{{ col.header }}</span>
                                {{ user[col.field].join(', ') }}
                            </td>
                            <td *ngSwitchDefault>
                                <span class="p-column-title">{{ col.header }}</span>
                                {{ user[col.field] }}
                            </td>
                        </ng-container>
                        <td>
                            <div class="flex justify-content-center">
                                <button
                                    pButton
                                    pRipple
                                    pTooltip="Show user profile"
                                    tooltipPosition="top"
                                    class="p-button-rounded p-button-outlined"
                                    icon="pi pi-eye"
                                    type="button">
                                </button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td colspan="100%">No standard questions found.</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>

<p-confirmPopup key="ConfirmPopup"></p-confirmPopup>
<p-confirmDialog key="ConfirmDialog"></p-confirmDialog>
