<!--<p>user-details works!</p>-->

<!--<div class="p-card">-->

<!--    <p-dialog-->
<!--        [(visible)]="productDialog"-->
<!--        [style]="{ width: '450px' }"-->
<!--        header="Product Details"-->
<!--        [modal]="true"-->
<!--        styleClass="p-fluid">-->
<!--        <ng-template pTemplate="content">-->
<!--            <img-->
<!--                [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + product.image"-->
<!--                [alt]="product.image"-->
<!--                class="block m-auto pb-3"-->
<!--                *ngIf="product.image" />-->
<!--            <div class="field">-->
<!--                <label for="name">Name</label>-->
<!--                <input-->
<!--                    type="text"-->
<!--                    pInputText-->
<!--                    id="name"-->
<!--                    [(ngModel)]="product.name"-->
<!--                    required-->
<!--                    autofocus />-->
<!--                <small class="p-error" *ngIf="submitted && !product.name">-->
<!--                    Name is required.-->
<!--                </small>-->
<!--            </div>-->
<!--            <div class="field">-->
<!--                <label for="description">Description</label>-->
<!--                <textarea-->
<!--                    id="description"-->
<!--                    pInputTextarea-->
<!--                    [(ngModel)]="product.description"-->
<!--                    required-->
<!--                    rows="3"-->
<!--                    cols="20">-->
<!--                    </textarea>-->
<!--            </div>-->

<!--            <div class="field">-->
<!--&lt;!&ndash;                <p-dropdown&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                    [(ngModel)]="product.inventoryStatus"&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                    inputId="inventoryStatus"&ndash;&gt;-->
<!--&lt;!&ndash;                    [options]="statuses">&ndash;&gt;-->
<!--&lt;!&ndash;                    <ng-template pTemplate="selectedItem">&ndash;&gt;-->
<!--&lt;!&ndash;                        <p-tag&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                            [value]="product.inventoryStatus.toUpperCase()"&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                            [severity]="getSeverity(product.inventoryStatus.toUpperCase())" />&ndash;&gt;-->
<!--&lt;!&ndash;                    </ng-template>&ndash;&gt;-->
<!--&lt;!&ndash;                    <ng-template let-option pTemplate="item">&ndash;&gt;-->
<!--&lt;!&ndash;                        <p-tag&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;                            [value]="option.label"&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;                            [severity]="getSeverity(option.label)" &ndash;&gt;-->
<!--&lt;!&ndash;                        />&ndash;&gt;-->
<!--&lt;!&ndash;                    </ng-template>&ndash;&gt;-->
<!--&lt;!&ndash;                </p-dropdown>&ndash;&gt;-->
<!--            </div>-->

<!--            <div class="field">-->
<!--                <label class="mb-3">Category</label>-->
<!--                <div class="formgrid grid">-->
<!--                    <div class="field-radiobutton col-6">-->
<!--                        <p-radioButton-->
<!--                            id="category1"-->
<!--                            name="category"-->
<!--                            value="Accessories"-->
<!--&lt;!&ndash;                            [(ngModel)]="product.category" &ndash;&gt;-->
<!--                        -->
<!--                        />-->
<!--                        <label for="category1">Accessories</label>-->
<!--                    </div>-->
<!--                    <div class="field-radiobutton col-6">-->
<!--                        <p-radioButton-->
<!--                            id="category2"-->
<!--                            name="category"-->
<!--                            value="Clothing"-->
<!--&lt;!&ndash;                            [(ngModel)]="product.category" &ndash;&gt;-->
<!--                        />-->
<!--                        <label for="category2">Clothing</label>-->
<!--                    </div>-->
<!--                    <div class="field-radiobutton col-6">-->
<!--                        <p-radioButton-->
<!--                            id="category3"-->
<!--                            name="category"-->
<!--                            value="Electronics"-->
<!--&lt;!&ndash;                            [(ngModel)]="product.category" &ndash;&gt;-->
<!--                        />-->
<!--                        <label for="category3">Electronics</label>-->
<!--                    </div>-->
<!--                    <div class="field-radiobutton col-6">-->
<!--                        <p-radioButton-->
<!--                            id="category4"-->
<!--                            name="category"-->
<!--                            value="Fitness"-->
<!--&lt;!&ndash;                            [(ngModel)]="product.category" &ndash;&gt;-->
<!--                        />-->
<!--                        <label for="category4">Fitness</label>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="formgrid grid">-->
<!--                <div class="field col">-->
<!--                    <label for="price">Price</label>-->
<!--                    <p-inputNumber-->
<!--                        id="price"-->
<!--&lt;!&ndash;                        [(ngModel)]="product.price"&ndash;&gt;-->
<!--                        mode="currency"-->
<!--                        currency="USD"-->
<!--                        locale="en-US" />-->
<!--                </div>-->
<!--                <div class="field col">-->
<!--                    <label for="quantity">Quantity</label>-->
<!--                    <p-inputNumber-->
<!--                        id="quantity"-->
<!--&lt;!&ndash;                        [(ngModel)]="product.quantity" &ndash;&gt;-->
<!--                    />-->
<!--                </div>-->
<!--            </div>-->
<!--        </ng-template>-->

<!--        <ng-template pTemplate="footer">-->
<!--            <p-button-->
<!--                pRipple-->
<!--                label="Cancel"-->
<!--                icon="pi pi-times"-->
<!--                [text]="true"-->
<!--                (click)="hideDialog()" />-->
<!--            <p-button-->
<!--                pRipple-->
<!--                label="Save"-->
<!--                icon="pi pi-check"-->
<!--                [text]="true"-->
<!--                (click)="saveProduct()" />-->
<!--        </ng-template>-->
<!--    </p-dialog>-->

<!--    <p-confirmDialog [style]="{ width: '450px' }" />-->




<!--</div>-->
