<p-dialog
    standardQuestionDialog
    [(visible)]="standardQuestionDialog"
    [style]="{ width: '450px' }"
    header="Question Details"
    [modal]="true"
    styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="field">
            <label for="name">Name</label>
            <input type="text" pInputText id="name"
                   required autofocus/>
            <small class="p-error" *ngIf="submitted && !question.question">Question is required.</small>
        </div>
        <div class="flex align-items-center">
            <p-checkbox
                label="Required"
             />
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"></button>
    </ng-template>
</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"></p-confirmDialog>
