<p-dialog
    [(visible)]="isVisible"
    [style]="{ width: '450px' }"
    header="Product Details"
    [modal]="true"
    styleClass="p-fluid">

    <ng-template pTemplate="content">
        <form [formGroup]="questionForm" (ngSubmit)="submitForm($event)">
        <div class="field">
            <label for="question">Question</label>
            <textarea
                type="text"
                pInputTextarea
                id="question"
                required
                [formControl]="questionForm.controls.question"
                rows="3"
                cols="20"
                autofocus>
            </textarea>

        </div>
        <div class="field">
            <label for="required">Required</label>
            <p-inputSwitch
                [formControl]="questionForm.controls.required"
                id="required"
            />
        </div>
        </form>
    </ng-template>
    <ng-template pTemplate="footer">
        <p-button
            pRipple
            label="Cancel"
            icon="pi pi-times"
            [text]="true"
            (click)="hideDialog()"/>
        <p-button
            pRipple
            type="submit"
            label="Save"
            icon="pi pi-check"
            [text]="true"
            (click)="formDirective.onSubmit($event)"/>
    </ng-template>

</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"/>
