<p-dialog
    [(visible)]="isVisible"
    [style]="{ width: '450px' }"
    header="Product Details"
    [modal]="true"
    styleClass="p-fluid">

    <ng-template pTemplate="content">
        <div class="field">
            <label for="question">Question</label>
            <textarea
                type="text"
                pInputTextarea
                id="question"
                required
                [(ngModel)]="question.question"
                rows="3"
                cols="20"
                autofocus>
            </textarea>

        </div>
        <div class="field">
            <label for="required">Required</label>
            <p-inputSwitch
                [(ngModel)]="question.required"
                id="required"
            />
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <p-button
            pRipple
            label="Cancel"
            icon="pi pi-times"
            [text]="true"
            (click)="hideDialog()"/>
        <p-button
            pRipple
            label="Save"
            icon="pi pi-check"
            [text]="true"
            (click)="submitForm()"/>
    </ng-template>

</p-dialog>

<p-confirmDialog [style]="{ width: '450px' }"/>
